.order-status {
  @apply flex items-center gap-1 px-2 py-1 rounded-[5px] bg-black_90 h-[21px];

  &__text {
    @apply font-primary font-medium text-white text-[11px] text-center leading-[100%] tracking-[0.01em];
  }

  &__error {
    @apply text-error;
  }

  .status-icon path {
    fill: #f9f9f9;
  }

  .status-icon svg {
    width: 12px;
    height: 12px;
  }
}
