@layer base {
  :root {
    --main-black: #181a1c;
    --white: #fff;
    --black: #000;
    --black-60: #747677;
    --black-100: #31363c;
    --grey-20: #f9f9f9;
    --grey-100: #d0d0d1;
    --grey-200: #ededed;
    --error: #e25c5c;
    --black-40: #a1a5a7;
    --blue: #294dfe;
  }
}
