@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Lato-Light.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lato-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Lato-Semibold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Lato-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SFProText-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/SFProText-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/SFProText-Semibold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SourceSerif4-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'FreightBigProBook-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FreightBigProBook-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'FreightBigProLight-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FreightBigProLightRegular.ttf');
  font-display: swap;
}
