@layer base {
  :root {
    --main-black: #181a1c;
    --white: #fffffd;
    --black: #000;
    --black-60: #747677;
    --black-100: #31363c;
    --black-90: #2d2d2d;
    --black-70: #666562;
    --black-50: #a3a3a0;
    --black-30: #cccbc8;
    --black-10: #ebeae6;
    --black-05: #f7f7f5;
    --grey-100: #d0d0d1;
    --grey-200: #ededed;
    --error: #e25c5c;
    --black-40: #a1a5a7;
    --blue: #294dfe;
  }
}
